@page "/imagepage"
@using BlazorRestProject.ViewModels
@using BlazorRestProject.Models

<div class="frame" style="margin: 10px; border-radius: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); border: 1px solid lightgray;">
    <div class="grid" style="display: grid; grid-template-rows: 2fr 1fr;">
        <!-- Top 2/3: Image -->
        <img src="@Model.Url" alt="Image" style="width: 100%; object-fit: cover;" />

        <!-- Bottom 1/3: Title and Date -->
        <div class="stack-layout" style="background-color: rgba(0, 0, 0, 0.53); padding: 10px; display: flex; flex-direction: column; justify-content: center;">
            <p style="font-size: 10px; color: white; margin: 0;">@Model.Date</p>
            <p style="font-size: 12px; font-weight: bold; color: white; margin: 0;">@Model.TitleEnglish</p>
            <p style="font-size: 12px; font-weight: bold; color: white; margin: 0;">@Model.ExplanationEnglish</p>
        </div>
    </div>
</div>

@code {
    ApodModel Model;
}
